@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Roboto:wght@100;300;400&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --primary-text-color: #111111;
  --secondary-text-color: #fff;
  --headline-color: #393939;
  --inactive-text-color: #3939399d;

  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--secondary-font-family);
  height: 100vh;
}

/* BLOCK */
.form {
  position: relative;
  height: 100%;
  display: grid;
  align-content: center;
  row-gap: 3em;
  padding: 1.5em 0 6.2em 1.5em;
}

/* Element */
.form__title {
  font-size: 2.9em;
  font-weight: normal;
}

.form__subtitle {
  text-transform: uppercase;
}

.form__submit {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: none;
  font-size: 1.4em;
  padding: 1.3em 2em;
}

.form__input {
  border: none;
  border-bottom: 2px solid var(--headline-color);
  font-size: 2.8em;
  width: 100%;
  padding-right: 0.5em;
}

.form__input::placeholder {
  opacity: 0.4;
}

/* BLOCK */
.radio-group {
  display: flex;
  justify-content: space-around;
  margin-right: 1.5em;
}

/* ELEMENT */
.radio-group__title {
  color: var(--inactive-text-color);
}

.radio-group__input {
  position: absolute;
  opacity: 0;
}

.radio-group__input:checked + .radio-group__title {
  color: var(--primary-color);
}

.radio-group__input:focus-visible + .radio-group__title {
  outline: thin solid;
}

/* BLOCK */
.dashboard {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
}

/* ELEMENT */
.dashboard__burger-menu {
  grid-column: 1/4;
  justify-self: start;
  margin: 3em;
  margin-left: 1em;
  background: none;
  border: none;
}

.dashboard__title {
  grid-column: 1/3;
  font-size: 3em;
  margin: 0;
  margin-left: 0.3em;
}

.dashboard__notif {
  margin-right: 1em;
  justify-self: end;
  align-self: center;
  background: none;
  border: none;
}

.dashboard__new-task {
  grid-column: 3/4;
  padding: 1.3em 2em;
  background: var(--primary-color);
  display: grid;
  place-items: center;
  border-top-left-radius: 0.5em;
}

/* BLOCK */
.radio-group-selector {
  text-transform: uppercase;
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  justify-content: space-between;
  grid-column: 1/2;
  grid-row: span 2;
  align-items: center;
  padding: 4em 2em;
  letter-spacing: 0.1em;
}

/* BLOCK */
.checkbox-group {
  grid-column: 2/4;
  display: grid;
  padding: 3em 1em;
  font-size: 1.3em;
  align-content: start;
  row-gap: 3em;
  overflow: auto;
  height: 1fr;
}

/* ELEMENT */
.checkbox-group__input {
  position: absolute;
  opacity: 0;
}

.checkbox-group__input:checked + .checkbox-group__task {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
}

/* START ISSUE8 */
.nav-toggle {
  grid-column: 1/2;
  margin-left: 0.9em;
}

.nav-toggle__label span,
.nav-toggle__label span::before {
  position: relative;
  display: block;
  height: 0.3em;
  width: 2.5em;
  background: black;
  margin-top: 5em;
  margin-bottom: 4em;
  border-radius: 0.5em;
}

.nav-toggle__label span::before {
  position: absolute;
  content: "";
  bottom: 0.3em;
  width: 1.7em;
  background: black;
  margin-bottom: 0.5em;
}

#main-menu {
  padding-top: 4em;
  padding-left: 1.728em;
  background-color: #161060;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 1;
  z-index: 10;
  transform: scale(0, 1);
  transform-origin: left;
  left: 0;
  transition: transform 0.5s ease-in-out;
  color: var(--secondary-text-color);
}

#main-menu:target {
  background-color: #161060;
  transform: scale(1, 1);
}

#main-menu .main-menu__close {
  position: absolute;
  right: 0;
  margin-right: 3em;
}

#main-menu a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.main-menu h3 {
  text-transform: uppercase;
  font-size: 1.063em;
  padding-bottom: 1.5em;
  font-family: var(--primary-font-family);
  font-weight: normal;
}

.main-menu__main-list {
  padding-left: 0;
  margin-bottom: 2em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 2em;
  font-family: var(--secondary-font-family);
  font-weight: 300;
}

.main-menu__sub-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  font-size: 0.938em;
  font-family: var(--secondary-font-family);
  font-weight: lighter;
}

/* END ISSUE8 */
